extends layout

block content
  h1= title
  div.LoginPanel
    br
    br
    h1 LOGIN 
    form(action="/login", method="post")    
      input(type="text" name="username"
        placeholder="username" required)
      br
      br   
      input(type="password" name="password"
        placeholder="password" required)
      br
      br
      <button type="button" class="btn btn-primary" type="submit">Login</button>
  
